@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.login {
  margin: auto;
  /* display: flex; */
  /* flex-direction: column; */
  background-color: #000;
  /* padding:200px; */
  /* margin: 500px; */
  /* justify-content: center; */
  /* align-items: center; */
}

.container .login {
  font-weight: bold;
  font-size: xx-large;
  padding: 10px 15px;
  text-decoration: none;
  color: #000;
  background-color: #1db954;
  border-radius: 25px;
  border: solid 3px #000;
}

.boxLogin {
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: #0B0500;

  /* margin-bottom:10px; */
  margin: auto;
  max-width: 300px;
  align-items: center;
  flex: 1
}


.container {
  /* background-color:#FEF9EF;   */
  font-weight: bold;
  padding: 0;

}

.chart {
  box-shadow: #FE6D73;


  flex: 1
    /* background-color: #FE6D73;  */
}

/* .bar{
  /* display: flex; 
  fill:rgba(0, 0, 0, 0.932);
  stroke:#fe6d72;
  stroke-width: 5px;
  border-left: #fe6d72 solid 8px; 
  border-bottom: #fe6d72 solid 8px; 
 
}
*/
.svg_container {
  display: flex;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  margin-top: 10px
}

.svg_content_responsive {
  display: inline-block;
  fill: #9F9FED;
  /* border-left: #1db954 solid 6px;  */
  padding-bottom: 2px;
  border-bottom: #9F9FED solid 6px;
  stroke: #38182F;
  stroke-width: 2px;
}

.svg_content_responsive text {
  stroke: none;
  padding: 0;
  margin-bottom: 50px;
  fill: #38182F
    /* border:none */
}

.svg_content_responsive g {
  font-size: 18px;
  /* border:none */
}




.navbar {
  display: flex;
  background-color: #1db954;
  color: #FEF9EF;
  height: 100px;
  font-size: x-large;
  font-weight: bold;
  /* justify-content: flex-start; */
  align-items: center;
  border-bottom: #0B0500 solid 1px
}

.navbar .myform input[type="submit"] {
  background-color: #1db954;
  margin-right: 30px;
  color: #FEF9EF;
  font-size: large;
  text-decoration: underline;
  font-weight: bold;
  /* justify-self: 33%; */
}

.navbar .link {
  background-color: #1db954;
  color: #FEF9EF;
  font-size: large;
  text-decoration: underline;
  font-weight: none;
  margin-right: 30px;
}

.navbar .link:hover {
  color: #0B0500;
}

.navbar .myform input[type="submit"]:hover {
  /* color:#FFCB77; */
  color: #0B0500;

}

.navbar .image {
  display: flex;
  padding: 0;
  margin: 0 15px;
  justify-self: left;

}

.navbar h1 {
  box-sizing: border-box;
  border-left: solid #000 1px;
  color: #fff;
  padding: 0;
  margin-top: 3px;
  align-self: left;
  padding-left: 10px;
  font-weight: bold;
  flex: 5;
}

.header .myform {
  display: flex;
  /* justify-content: flex-start; */
  /* align-items: center; */
  flex: 5;
  margin: 1rem;

}

.header {
  padding: 0;
  border-bottom: #0B0500 solid 1px;
  display: flex;
  align-items: center;
  margin: 1rem;
}

.header .image {
  align-self: center;
  padding: 0;
  padding-top: 5px;
  margin-right: 15px;
  /* justify-self: right; */
  /* flex:1; */
}

.header .image:hover {
  cursor: pointer;
}

.myform input[type="submit"]:hover {
  /* color: #227C9D; */
  color: #1db954;
  cursor: pointer;

}

.myform input[type="submit"] {
  color: #0B0500;
  font-size: x-large;
  font-weight: bold;
  border: none;
  /* text-decoration: underline; */
  background-color: #FEF9EF;
}

.myform label {
  color: #0B0500;
  font-size: x-large;
  font-weight: bold;
  border: none;
  /* background-color: #FEF9EF;  */
}

.myform select {
  color: #0B0500;
  font-size: x-large;
  font-weight: bold;
  margin-right: 5rem;
  /* border: none; */
  /* background-color: #FEF9EF; */
}

.myform input[type="text"] {
  color: #0B0500;
  font-size: x-large;
  font-weight: bold;
  padding-left: 10px;
  margin-right: 5rem;
}

/* BOXES */
.boxes {
  background-color: #FEF9EF;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px 0;
  flex: 1
}

.boxes .link a {
  color: #0B0500;
  font-size: x-large;
  font-weight: bold;
  text-decoration: none;
  max-height: 50px;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  white-space: nowrap;
  /* text-overflow: ellipsis; */
  max-width: 300px;
  /* animation-play-state: paused; */
  /* animation: slide infinite 3s alternate; */
  /* scroll-snap-type: x mandatory */
}
/* 
.boxes .link a::-webkit-scrollbar {
  display: none;
}

@keyframes slide {
  33%{
    scroll-snap-align: -50px;
  }

  66% {
    margin-left: 0px;
  }

  100% {
    margin-left: 50px;
  }
  
} */


.boxes .link a:hover {
  text-decoration: underline;
  color: #9F9FED;
  /* scroll-marg/in-right: 50px; */
  
}

.box {
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: #0B0500;
  border-bottom: groove 3px #9F9FED;
  margin-bottom: 10px;
  max-width: 300px;
  align-items: center;
  flex: 1
}

.box :hover {
  cursor: pointer;
}

.box img:hover {
  border-right: solid #9F9FED 0px;
  border-left: solid #9F9FED 20px;
}

.boxA img:hover {
  border: none;
  border-top: solid #9F9FED 10px;
  border-right: solid #9F9FED 4px;

}

.boxA {
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: #0B0500;
  border-bottom: groove 3px #9F9FED;
  margin-bottom: 10px;
  max-width: 300px;
  align-items: center;
}

.box img {
  border-radius: 100px;
  flex-direction: column;
  box-shadow: 50px #103fda;
  border-right: solid #9F9FED 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* .box img  {
  animation: moveImg 3000ms ease-in-out  infinite;
}

@keyframes moveImg {
  0%{border-right: solid #9F9FED 10px;}
  10%{border-right: solid #9F9FED 7.5px;}
  15%{border-right: solid #9F9FED 5px;}
  20%{border-right: solid #9F9FED 2.5px;}
  25%{border-right: solid #9F9FED 0px;}
  30%{border-left: solid #9F9FED 2.5px;}
  35%{border-left: solid #9F9FED 5px;}
  45%{border-left: solid #9F9FED 7.5px;}
  50%{border-left: solid #9F9FED 10px;}
  55%{border-left: solid #9F9FED 7.5px;}
  60%{border-left: solid #9F9FED 5px;}
  65%{border-left: solid #9F9FED 2.5px;}
  70%{border-left: solid #9F9FED 0px;}
  75%{border-right: solid #9F9FED 2.5px;}
  80%{border-right: solid #9F9FED 5px;}
  85%{border-right: solid #9F9FED 7.5px;}
  100%{border-right: solid #9F9FED 10px;}
    
  
} */

.boxA img {
  border-radius: 1000px;
  flex-direction: column;
  box-shadow: 50px #FE6D73;
  border-bottom: solid #9F9FED 10px;
  border-left: solid #9F9FED 4px;
  margin-bottom: 10px;
  margin-top: 10px;


}

@media(max-width:620px) {
  .svg_container {
    display: flex;
    width: 400px;
    padding: 0;
    margin: auto;
    /* height:1000px */

  }

  .svg_content_responsive {
    padding: 0;
    margin: 0;
    border: none
  }

  .svg_content_responsive rect {
    margin: 0;
    padding: 0;
    /* border:none */
  }
}



@media(max-width:900px) {

  .header .myform {
    margin: 0;
    display: flex;
    margin: 1rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1
  }

  .header .myform input[type="submit"] {
    margin: 0;
    margin-top: 1rem
  }

  .header .myform input {
    margin: 0;

  }

  .header .myform select {
    margin: 0;

  }

  /* .navbar .image{
    margin-right:0;
  } */
  /* .navbar h1{
    margin-top: 10px;
    
  } */
  .navbar .myform input[type="submit"] {
    flex: 1;
    font-size: smaller;

  }

  .navbar .link {
    font-size: smaller;
    flex: 1;
  }

  .header .image {
    align-self: flex-start;

  }

  .header .myform {
    align-items: flex-start;
  }

  .header .myform input[type="text"] {

    width: 210px
  }

}

@media(max-width:700px) {


  .navbar h1 {
    margin-left: 10px;
    margin-top: 10px;
    font-size: larger;
  }

  .navbar .myform input[type="submit"] {
    font-size: 13px;

  }

  .navbar .link {
    font-size: 13px;
    flex: 1;
  }

}

@media(max-width:500px) {


  .header .image {
    align-self: flex-start;
    margin-right: 0px
  }

  .header .myform {
    align-items: flex-start;
    justify-content: space-evenly;
  }


  .header .myform input[type="submit"]:hover {
    text-decoration: underline;

  }

  .header .myform input[type="submit"] {
    color: #0B0500;
    font-size: large;
    font-weight: bold;
    border: 2px white solid;
    text-align: left;
    background-color: #dddbd8;

    padding: 0;
    text-decoration: none;
  }

  .header .myform select {
    font-size: large;
    margin: 0;
    /* border: none; */
    /* background-color: #FEF9EF; */
  }

  .header .myform input[type="text"] {
    color: #0B0500;
    font-size: large;
    margin-bottom: 10px;
    width: 175px;

  }

  .navbar {
    font-size: medium;
    margin: 0;

  }

  .navbar .myform input[type="submit"] {
    font-size: 12px;
    margin: 0;
    margin-right: 10px;

  }

  .navbar .link {
    margin: 0;
    margin-right: 5%;
    font-size: 12px;
    padding: 0;

  }

  .navbar .myform input[type="submit"]:hover {
    /* color:#FFCB77; */
    text-decoration: underline;

  }

  .navbar .image {
    content: url("/images/icon.png");
    width: 20%;
    flex-direction: column;
    margin-left: 8px;
    margin-right: 0;


  }

  .navbar h1 {
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 40px;
    border: none;

  }

  .box img {
    width: 250px;
    height: 250px
  }

  .boxA img {
    width: 250px;
    height: 250px
  }

  .boxes .link a {
    max-width: 250px;
  }

  .svg_container {
    display: flex;
    width: 350px;
    padding: 0;
    margin: auto;
    /* height:1000px */

  }


}

@media(max-width:400px) {
  .svg_container {
    display: flex;
    width: 300px;
    padding: 0;
    margin: auto;
    /* height:1000px */

  }
}